<!-- this below design is for admin when admin come to the page then dispaly this html -->
<div *ngIf="getRole=='Admin'">
    <div class="row ms-5 mt-3 me-5">
    <div class="col-8 ps-4">
      <h2 class="">Company List</h2>
    </div>
    <div class="col-4 ">
        <button class="btn btn-info float-end" data-bs-toggle="modal" data-bs-target="#CreateCompany" (click)="addCompanyButton()">+ New Company</button>
    </div>
</div>
<div class=" mt-4 w-100" >
  <div class="w-75 m-auto">
    <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="myTable" class="table table-striped table-bordered table-sm row-border hover ">
 <thead class="table-success">
    <tr>
    <th class="text-center">Id</th>
    <th class="text-center">Name</th>
    <th class="text-center">Address</th>
    <th class="text-center">Gst Number</th>
    <th class="text-center">Designation</th>
    <th class="text-center">Action</th>
</tr>
 </thead>
 <tbody>
    <tr *ngFor="let getCompany of GetAllCompany">
     <td>{{getCompany.id}}</td>
     <td>{{getCompany.name}}</td>
     <td>{{getCompany.address}}</td>
     <td>{{getCompany.gstNum}}</td>
     <td *ngIf="getCompany.companyDesigantion.length!=0" class="text-center"><button class="btn btn-success" (click)="getCompanyDesignatinOnClick(getCompany.companyDesigantion)" data-bs-toggle="modal" data-bs-target="#Designation">Show</button></td>
     <td *ngIf="getCompany.companyDesigantion.length == 0" class="text-center text-danger">No Record</td>
     <td class="text-center">
      <button class="btn btn-info ms-2" (click)="EditCompanyOnclick(getCompany)" data-bs-toggle="modal" data-bs-target="#CreateCompany">Edit</button>
      <button class="btn btn-danger ms-2" (click)="DeleteCompany(getCompany.id)">Delete</button>
      <button class="btn btn-success ms-2" (click)="EmployeeList(getCompany.id)">Employee List</button>
     </td>
    </tr>
 </tbody>
  </table>
  </div>
</div>
</div>
<!-- this div will display when company come to the page then we will dispaly this html or page -->
<div *ngIf="getRole=='Company'">
  <div class="row ms-5 mt-3 me-5">
    <div class="col-8 ps-4">
      <h2 class="">Company Details</h2>
    </div>
</div>
<div class=" mt-4 w-100" >
  <div class="w-75 m-auto">
    <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="myTable" class="table table-striped table-bordered table-sm row-border hover ">
 <thead class="table-success">
    <tr>
    <th class="text-center">Id</th>
    <th class="text-center">Name</th>
    <th class="text-center">Address</th>
    <th class="text-center">Gst Number</th>
    <th class="text-center">Designation</th>
    <th class="text-center">Action</th>
</tr>
 </thead>
 <tbody>
    <tr *ngFor="let getCompany of GetAllCompany">
     <td>{{getCompany.id}}</td>
     <td>{{getCompany.name}}</td>
     <td>{{getCompany.address}}</td>
     <td>{{getCompany.gstNum}}</td>
     <td *ngIf="getCompany.companyDesigantion.length!=0" class="text-center"><button class="btn btn-success" (click)="getCompanyDesignatinOnClick(getCompany.companyDesigantion)" data-bs-toggle="modal" data-bs-target="#Designation">Show</button></td>
     <td *ngIf="getCompany.companyDesigantion.length == 0" class="text-center text-danger">No Record</td>
     <td class="text-center">
      <button class="btn btn-info ms-2" (click)="EditCompanyOnclick(getCompany)" data-bs-toggle="modal" data-bs-target="#CreateCompany">Edit</button>
      <button class="btn btn-success ms-2" (click)="EmployeeList(getCompany.id)">Employee List</button>
     </td>
    </tr>
 </tbody>
  </table>
  </div>
</div>
</div>



<!-- here in this model we will display the company designation people -->
<div class="modal " tabindex="-1" id="Designation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success ">
        <h5 class="modal-title  text-white">Company Designated Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ms-3">
       <table class="table table-hover table-bordered">
        <thead class="table-success">
           <tr>
            <th>Designation Type</th>
            <th>Name</th>
           </tr>
        </thead>
        <tbody class="table-info">
            <tr *ngFor="let designation of GetCompanyDesignation">
               <td>{{designation.designationType}}</td>
               <td>{{designation.name}}</td>
            </tr>
        </tbody>
       </table>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Here we will Create the company or update the company -->
<div class="modal" tabindex="-1" id="CreateCompany">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white" *ngIf="saveUpdatButton==false">Create Company</h5>
        <h5 class="modal-title text-white" *ngIf="saveUpdatButton">Update Company</h5>
        <button type="button" (click)="ResetCancel()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-group" #myForm = "ngForm">
         <div class="row pt-2">
          <div class="col-3 offset-1">
        <label>Name</label>
          </div>
          <div class="col-8">
            <input type="text" [(ngModel)]="CreateCompany.Name" #name="ngModel" name="name" placeholder="Enter Company Name" class="form-control" required/>
            <p *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger m-0 p-0">Name is required</p>  
        </div> 
      </div>
         <div class="row pt-3">
          <div class="col-3 offset-1">
        <label>Email</label>
          </div>
          <div class="col-8">
          <input type="email" [(ngModel)]="CreateCompany.Email" #email="ngModel" name="email" placeholder="Enter Company Email" class="form-control" required/>
          <p *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger m-0 p-0">Email is required</p>  
        </div>
         </div>
         <div class="row mt-3">
          <div class="col-3 offset-1">
        <label>Gst Number</label>
          </div>
          <div class="col-8">
          <input type="text" [(ngModel)]="CreateCompany.GstNum" #GstNum="ngModel" name="Gst" placeholder="Enter Company Gst Number" class="form-control" required/>
          <p *ngIf="GstNum.invalid && (GstNum.dirty || GstNum.touched)" class="text-danger m-0 p-0">Gst Number is required</p>  
        </div>
         </div>

         <div class="row mt-3">
          <div class="col-3 offset-1">
        <label>Address</label>
          </div>
          <div class="col-8">
          <input type="text" [(ngModel)]="CreateCompany.Address" #Address="ngModel" name="Address" placeholder="Enter Company Address" class="form-control" required/>
          <p *ngIf="Address.invalid && (Address.dirty || Address.touched)" class="text-danger m-0 p-0">Address is required</p>  
          
        </div>
         </div>

         <!-- <div class="row mt-3">
          <div class="col-3 offset-1">
        <label>Designation</label>
          </div>
          <div class="col-8 ">
          <button class="btn btn-success ms-5" type="button" (click)="AddMoreDesignation()">+ Add Designation</button>
          </div>
          </div>
          <div *ngFor="let designationget of CreateCompanyDesignation;let indexOfElement=index;" class="row mt-2 ms-2">
          <div class="row">
            <div class="col-4">
              <input type="text"  name="value{{CreateCompanyDesignation[indexOfElement].DesType}}" [(ngModel)]="CreateCompanyDesignation[indexOfElement].DesType"  placeholder="Designation" class="form-control"/>
            </div>
            <div class="col-5">
              <input type="text"  name="value{{CreateCompanyDesignation[indexOfElement].Name}}" [(ngModel)]="CreateCompanyDesignation[indexOfElement].Name"  placeholder="Name" class="form-control"/>
            </div>
            <div class="col-1">
             <button class="btn btn-danger" (click)="RemoveDesignation(indexOfElement)" >Remove</button>
            </div>
          </div>
          <div class="col-12">
           <p class="text-danger" *ngIf='designationget.Validate!=""' >{{designationget.Validate}}</p>
          </div>
          </div> -->
          
         
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"  (click)="ResetCancel()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveCompany(myForm)" *ngIf="saveUpdatButton==false">Save changes</button>
        <button type="button" class="btn btn-primary" (click)="UpdateCompany(myForm)" *ngIf="saveUpdatButton" >Update</button>
      </div>
    </div>
  </div>
</div>



